name: sample workflow to test pipeline

on:
  workflow_dispatch:

env:
  WIN_HOST:	"10.0.0.5"
  WIN_USER:	"gharunner"
  WIN_PASSWORD:	"gharunner@123"

jobs:
  testpipeline:
    runs-on: gharunner-test0
    steps:
       - name: test connection
         shell: powershell
         run: |
          # Set-Item WSMan:\localhost\Client\TrustedHosts -Value "$env:WIN_HOST" -Force
          $password = ConvertTo-SecureString $env:WIN_PASSWORD -AsPlainText -Force
          $cred = New-Object System.Management.Automation.PSCredential ($env:WIN_USER, $password)

        
          # Check date on remote server
          Invoke-Command -ComputerName $env:WIN_HOST -Credential $cred -Authentication Basic -SessionOption (New-PSSessionOption -SkipCACheck -SkipCNCheck -SkipRevocationCheck) -ScriptBlock {
            Get-Date
          }
          
     
  
